<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/types.css" rel="stylesheet">
  <link href="css/pokemon.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/service/Pokemon.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

  <script>
    var scrollToTop = document.getElementById("scrollToTop");

    function myScrollFunc() {
      var y = window.scrollY;
      if (y > 1) {
        scrollToTop.className = "bottomMenu show"
      } else {
        scrollToTop.className = "bottomMenu hide"
      }
    }

    window.addEventListener("scroll", myScrollFunc);
  </script>

</head>

<body ng-app="starter">
<!-- The nav bar that will be updated as we navigate -->
<!--<ion-nav-bar class="bar-positive">-->
<!--<ion-nav-back-button class="button-clear">-->
<!--<i class="ion-arrow-left-c"></i> Back-->
<!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->
<div class="bar bar-header bar-positive">
  <h1 class="title">Treinador Pokemon GO</h1>
</div>

<ion-nav-view id="container-view" class="has-header"></ion-nav-view>

<script id="home.html" type="text/ng-template">
  <ion-view>
    <ion-content on-scroll="getScrollPosition()">
      <div class="row row-center">
        <div class="col">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="search.name" type="text" placeholder="Pesquisar"/>
          </label>
        </div>
      </div>

      <div class="row row-center">
        <div class="col">
          <button class="button button-block icon-left ion-egg button-calm" ng-click="setEggFilter(2)">
            2 km
          </button>
        </div>
        <div class="col">
          <button class="button button-block icon-left ion-egg button-calm" ng-click="setEggFilter(5)">
            5 km
          </button>
        </div>
        <div class="col">
          <button class="button button-block icon-left ion-egg button-calm" ng-click="setEggFilter(10)">
            10 km
          </button>
        </div>
      </div>

      <ion-list>
        <div class="list">

          <div class="pokemons" ng-repeat="pokemon in pokemons | filter:search:strict | eggFilter:selectedEgg">
            <div class="row">
              <div class="col col-20">
                <h3>#{{::pokemon.id}}</h3>
              </div>
              <div class="col col-40">
                <h3 class="name" ng-bind-html="formatName(pokemon.name)"></h3>
              </div>
              <div class="col col-15">
                <span ng-show="hatchable(pokemon.egg)" class="label grass"> <span class="icon ion-egg"></span> <span
                  class="">{{::pokemon.egg}} km</span></span>
              </div>
              <!--<div class="col" style="text-align: right">-->
              <!--<span ng-repeat="i in iterate(pokemon.tier) track by $index" class="icon ion-star"></span>-->
              <!--</div>-->
            </div>

            <div class="row">
              <div class="col col-20">
                <img class="avatar" src="https://www.pokego.fyi/img/pokemon/{{pokemon.name | lowercase}}.png"
                     width="100%" height="100%">
              </div>
              <div class="col col-60">
                <p>TIPO</p>
                <p>
                  <span ng-repeat="type in pokemon.types" class="label {{type}}">{{::type}}</span>
                </p>
              </div>
              <div class="col">
                <p>CP MAX</p>
                <p><span class="max-cp">{{::pokemon.maxCP}}</span></p>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col"></div>
        </div>
      </ion-list>
    </ion-content>

    <div class="float-button" ng-show="scrollToTopButton" ng-click="scrollToTop()">
      <span class="height-fix">
        <a class="content">
          <i class="icon ion-arrow-up-b"> </i>
        </a>
      </span>
    </div>

  </ion-view>
</script>
</body>
</html>
