html {
    -webkit-font-smoothing:antialiased;
}
body {
    font-family: 'Roboto', monospace;
    color: #a9a9a9;
    background: #eceadb;
}
.container {
    max-width: 640px;
}

/*

#a9a9a9
#3D3D3D

*/

h3 {
    font-size: 21px;
}
img {
    image-rendering: pixelated;
}

.pokemon {
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 1px solid #dbd7ba;
}
.search {
    margin-bottom: 25px;
}
.pokemon .name {
    text-transform: none;
    color: #3D3D3D;
}

.label {
    text-transform: uppercase;
}