.pokemons {
  border-bottom: 1px solid #dbd7ba;
}

.pokemons .name {
  color: #3D3D3D;
}
.pokemons .max-cp {
  color: #3D3D3D;
  font-size: 18px;
}
.pokemons .avatar {
  image-rendering: pixelated;
}
.pokemons .icon {
  color: #F08030;
  font-size: 18px;
}
